## PROMiDAT Iberoamericano
## Inteligencia Artificial con Python
## ML1000 - Programación Orientada a Objetos

# Tarea 3 
### **Adolfo Cruz Razo**

#### 1. Desarrolle en Python la clase Círculo tal y como se observa en el diagrama. Debe realizar al menos una prueba de cada uno de los métodos.

In [ ]:
# Importando clase circulo

from modulo_ejercicio_1 import Circulo

In [ ]:
# Llamando a la clase
c = Circulo(20)

In [ ]:
# Viendo los atributos (Get)
c.radio

20

In [50]:
# Cambiando valor de mi atributo (Set)
c.radio = 25
c.radio

25

In [ ]:
# Método Perimetro

c.perimetro()

157.07963267948966

In [ ]:
# Método Área

c.area()

1963.4954084936207

In [54]:
# Método dunder __str__

print(c)

Radio circulo: (25.00)

In [ ]:
# Probando errores en el constructor

c_2 = Circulo("Hola")

El valor no es númerico, por favor introduce un valor numérico

In [62]:
# Probando errores en el set

c.radio = "Hola"

El valor no es númerico, por favor introduce un valor numérico

#### 2. Desarrolle en Python la clase Elipse tal y como se observa en el diagrama. Debe realizar al menos una prueba de cada uno de los métodos.

In [56]:
# Importando clase Elipse

from modulo_ejercicio_2 import Elipse

In [ ]:
# Llamando a la clase

e = Elipse(10, 20)

In [77]:
# Viendo los atributos (Get)
print(e.radio_menor)
print(e.radio_mayor)

6
12

In [64]:
# Cambiando valor de mi atributo (Set)

e.radio_menor = 6
e.radio_mayor = 12

print(e.radio_menor)
print(e.radio_mayor)

6
12

In [65]:
# Probando el método perímetro

e.perimetro()

59.60752959477661

In [66]:
# Probando el método área

e.area()

226.1946710584651

In [ ]:
# Método dunder
print(e)

Elipse: (6.00, 12.00 )

In [70]:
# Probando errores en el constructor

e_1 = Elipse("Hola", 2)
e_2 = Elipse(2,"4")
e_3 = Elipse("2", "5")

Alguno de los valores no es númerico, por favor introduce un valor numérico
Alguno de los valores no es númerico, por favor introduce un valor numérico
Alguno de los valores no es númerico, por favor introduce un valor numérico

In [ ]:
# Probando errores en el set

e.radio_menor = "Hola"
e.radio_mayor = "4"

El valor no es númerico, por favor introduce un valor numérico
El valor no es númerico, por favor introduce un valor numérico

#### 3. DesarrolleenPython (estiloPythónico)laclaseOperación,quetienecomoatributos dos listas numéricas X y Y, luego defina los métodos:

#### __init__: Tanto el constructor como el set deben verificar que ambas listas sean de igual tamaño.
#### Sumatoria: Suma ambas listas y devuelve el resultado.
#### Matriz: Une ambas listas como una matriz de 2 columnas.
#### Producto_Punto: Calcula el producto punto entre ambas listas y devuelve el resultado (que es un número real).
#### Menor: Compara una a una las entradas de las listas X y Y, luego retorna la lista con el mayor número de entradas menores, en caso de empate retorna X.
#### Interseccion: Retorna en una lista los valores que se encuentran en ambas listas X y Y.

In [112]:
# Importando clase Operación

from modulo_ejercicio_3A import Operacion

In [113]:
# Llamando a la clase

o = Operacion([10,20,30],[10,25,30])

In [114]:
# Viendo los atributos (Get)
print(o.X)
print(o.Y)

[10, 20, 30]
[10, 25, 30]

In [115]:
# Cambiando valor de mi atributo (Set)

o.X = [10,20,40]
o.Y = [20,10,30]

print(o.X)
print(o.Y)

[10, 20, 40]
[20, 10, 30]

In [116]:
# Probando el método Sumatoria
## En caso que se sume por cada uno de los indices

o.Sumatoria()

[30, 30, 70]

In [117]:
## En caso que sea la sumatoria total de todos los elementos de la lista

o.Sumatoria_2()

130

In [118]:
# Para ver la lista en una matriz

o.Matriz()

   Lista X  Lista Y
0       10       20
1       20       10
2       40       30

In [119]:
# Para ver la lista en una matriz 2.0

o.Matriz_2()

[[10, 20], [20, 10], [40, 30]]

In [123]:
# Para ver el Producto Punto

o.Producto_Punto()

1600

In [120]:
# Para ver que lista tiene la mayor cantidad de números menores

o.Menor()

[20, 10, 30]

In [121]:
# Para ver la intersección

print(o.X)
print(o.Y)

o.Interseccion()

[10, 20, 40]
[20, 10, 30]

[10, 20]

In [124]:
# Método dunder

print(o)

Las listas X y Y son: ([10, 20, 40], [20, 10, 30])

In [125]:
# Probando errores en el constructor

o_1 = Operacion([10,5], [4])

Las listas deben tener la misma cantidad de registros

In [127]:
# Probando errores en el set

print(o.X)
print(o.Y)

o.X = [10,5]

[10, 20, 40]
[20, 10, 30]
Las listas deben tener la misma cantidad de registros

#### 4. Programe una clase en Python (estilo Pythónico) denominada TablaDatos que tiene como atributo un DataFrame de Pandas. Además, programe los siguientes métodos:

##### variables_categoricas: Este debe ser un método privado que retorna un vector con los números de columna de aquellas columnas que son categóricas.
##### variables_numericas: Este debe ser un método privado que retorna un vector con los números de columna de aquellas columnas que son númericas.
##### resumen_columnas:Retornaundiccionariousandocomollavelosnombresdelasvariables, que incluya la media para las variables númericas y la moda para las variables categóricas.
##### producto_punto: Recibe 2 números de columna y retorna en un diccionario el nombre de las 2 variables y el producto punto entre esas dos variables.
##### renombrar_columnas: Recibe un nombre y una posición. Debe reemplazar el nombre de la columna en la posición indicada por el parámetro.
##### eliminar_columna: Recibe un nombre de columna y la elimina de la tabla de datos.

In [207]:
from modulo_ejercicio_4ABC import TablaDatos

In [208]:
import pandas as pd

# Cargando df clima para pruebaas 
url = "https://raw.githubusercontent.com/AdoCrz/ClimaDataSet/main/clima.csv"
df_c = pd.read_csv(url, sep = ';', header = 0, decimal='.', index_col= None)

In [209]:
## Llamando la clase TablaDatos

df_a = TablaDatos(df_c)

In [210]:
# Viendo los atributos

df_a.df

     temperatura  punto_rocio  humedad  ...  precipitacion  presion  visibilidad
0          37.04        19.94    49.62  ...            0.0   1012.1         10.0
1          33.98        15.08    45.43  ...            0.0   1014.1         10.0
2          30.02        12.92    48.48  ...            0.0   1016.0         10.0
3          28.94        12.02    48.69  ...            0.0   1016.5         10.0
4          26.96        10.94    50.34  ...            0.0   1016.3         10.0
..           ...          ...      ...  ...            ...      ...          ...
523        42.08        17.96    37.46  ...            0.0   1012.7         10.0
524        42.98        19.04    37.90  ...            0.0   1011.5         10.0
525        44.96        19.04    35.14  ...            0.0   1010.4         10.0
526        39.92        26.06    57.33  ...            0.0   1002.8         10.0
527        39.02        24.98    56.77  ...            0.0   1002.2         10.0

[528 rows x 9 columns]

In [211]:
# Para ver el resumen de columnas

df_a.resumen_columnas()

{'temperatura': 35.901022727272725,
 'punto_rocio': 16.760681818181816,
 'humedad': 47.24882575757575,
 'direccion_viento': 267.89772727272725,
 'velocidad_viento': 17.22682787878788,
 'velocidad_rafaga': 26.05383356060606,
 'precipitacion': 0.0030871212121212125,
 'presion': 1014.2456439393939,
 'visibilidad': 9.758522727272727}

In [212]:
# Para ver el producto punto

df_a.producto_punto(2,3)

{'Columna 1': 'humedad',
 'Columna 2': 'direccion_viento',
 'Producto Punto: ': 6379530.5}

In [213]:
## Probando error en producto_punto

df_a.producto_punto(2,"B")

Alguno de los números de columna no es númerico

In [214]:
# Método para renombrar columna

df_a.renombrar_columnas("TemperaturaPrueba", 0)

In [215]:
df_a.df

     TemperaturaPrueba  punto_rocio  ...  presion  visibilidad
0                37.04        19.94  ...   1012.1         10.0
1                33.98        15.08  ...   1014.1         10.0
2                30.02        12.92  ...   1016.0         10.0
3                28.94        12.02  ...   1016.5         10.0
4                26.96        10.94  ...   1016.3         10.0
..                 ...          ...  ...      ...          ...
523              42.08        17.96  ...   1012.7         10.0
524              42.98        19.04  ...   1011.5         10.0
525              44.96        19.04  ...   1010.4         10.0
526              39.92        26.06  ...   1002.8         10.0
527              39.02        24.98  ...   1002.2         10.0

[528 rows x 9 columns]

In [217]:
# Método para eliminar columna

df_a.eliminar_columna("TemperaturaPrueba")

In [218]:
df_a.df

     punto_rocio  humedad  ...  presion  visibilidad
0          19.94    49.62  ...   1012.1         10.0
1          15.08    45.43  ...   1014.1         10.0
2          12.92    48.48  ...   1016.0         10.0
3          12.02    48.69  ...   1016.5         10.0
4          10.94    50.34  ...   1016.3         10.0
..           ...      ...  ...      ...          ...
523        17.96    37.46  ...   1012.7         10.0
524        19.04    37.90  ...   1011.5         10.0
525        19.04    35.14  ...   1010.4         10.0
526        26.06    57.33  ...   1002.8         10.0
527        24.98    56.77  ...   1002.2         10.0

[528 rows x 8 columns]

In [219]:
# Comprobando error en el método eiminar_columna

df_a.eliminar_columna("Hola")

"La columna 'Hola' no existe en el DataFrame"

In [220]:
# Método Dunder

print(df_a)

Data Frame:      punto_rocio  humedad  ...  presion  visibilidad
0          19.94    49.62  ...   1012.1         10.0
1          15.08    45.43  ...   1014.1         10.0
2          12.92    48.48  ...   1016.0         10.0
3          12.02    48.69  ...   1016.5         10.0
4          10.94    50.34  ...   1016.3         10.0
..           ...      ...  ...      ...          ...
523        17.96    37.46  ...   1012.7         10.0
524        19.04    37.90  ...   1011.5         10.0
525        19.04    35.14  ...   1010.4         10.0
526        26.06    57.33  ...   1002.8         10.0
527        24.98    56.77  ...   1002.2         10.0

[528 rows x 8 columns]

In [230]:
dic = {"Nombre" : ["Adolfo", "Adolfo", "Karla"], 
       "Edad" : [20,20,10]}
df_Prueba = pd.DataFrame(dic)

In [236]:
df_Prueba.dtypes

Nombre    object
Edad       int64
dtype: object

In [235]:
df_a.resumen_columnas()

{'punto_rocio': 16.760681818181816,
 'humedad': 47.24882575757575,
 'direccion_viento': 267.89772727272725,
 'velocidad_viento': 17.22682787878788,
 'velocidad_rafaga': 26.05383356060606,
 'precipitacion': 0.0030871212121212125,
 'presion': 1014.2456439393939,
 'visibilidad': 9.758522727272727}